.paralax{
    /* The image used */
  background-image: url("../img/clement-helardot-95YRwf6CNw8-unsplash.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 800px){
    .paralax{
        background-position: left;
    }
}
